@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Roboto+Slab|Ubuntu');

* {
	font-family: Ubuntu;
}

html {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#cover-content,
#game-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cover-content {
	height: 100%;
	z-index: 100;
	background-color: #448aff;
}

#game-content {
	z-index: 0;
	display: none;
}

#title-sec {
	display: flex;
	flex-direction: column;
}

#title-sec h1 {
	text-align: center;
	font-family: Baloo Bhai;
}

#game-btn {
	width: auto;
	margin: auto;
	border-radius: 15px;
}

#game-info {
	margin: auto;
	display: flex;
	justify-content: center;
}

#game-info-status {
	display: none;
	z-index: 50;
	margin: auto;
	width: auto;
}

#game {
	position: absolute;
	z-index: 25;
}